.acc-wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 120px;
}

.acc-wrapper button {
  outline: transparent;
  background-color: #966e6e;
  max-width: 200px;
  padding: 10px 20px;
  cursor: pointer;
  border: 2px solid #6d5656;
}

.acc-wrapper button:hover {
    border: 2px solid #966e6e;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  max-width: 500px;
}

.item {
  background-color: #966e6e;
  width: 100%;
  padding: 10px 20px;
  height: auto;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: start;
}

.content {
  text-align: start;
}
